.modern_checkout {
    width: 90%;
    margin: 70px auto 20px auto;
    padding-bottom: 20px;
    background-color: var(--bg-page);
    border-radius: 10px;
}

.modern_checkout h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 30px 0 0 0;
    margin-bottom: 25px;
}

.checkout-desktop-layout {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    /* background-color: cornflowerblue; */
}

.CheckoutCartReview {
    width: 33%;
    /* background-color: chartreuse; */
}

.desktop-CheckoutShipping-CheckoutPayment {
    width: 50%;
    /* background-color: lightskyblue; */
}

.CheckoutShipping {
    width: 100%;
}

.CheckoutPayment {
    width: 100%;
}

@media (max-width: 950px) {
    .modern_checkout {
        width: 95%;
    }

    .CheckoutCartReview {
        width: 37%;
    }

    .CheckoutShipping-CheckoutPayment {
        width: 55%;
    }
}

@media (max-width: 750px) {
    .modern_checkout {
        /* width: 95%; */
    }
    .checkout-MOBILE-layout{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: goldenrod; */

    }
    .MOBILECheckoutCartReview{
        width: 370px;
    }
    .MOBILECheckoutShipping{
        width: 90%;
    }
    .MOBILECheckoutPayment{
        width: 90%;
    }
}