.site-footer,
.site-footer .footer-social-media ul,
.site-footer .footer-social-media ul li,
.site-footer .footer-social-media ul li a,
.site-footer .footer-column h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-footer {
    width: 100%;
    flex-direction: column;
    background-color: var(--bg-page);
    border-radius: 20px 20px 0 0;
}

.footer-brand h1 {
    font-size: 35px;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    color: black;
    margin-bottom: 6px;
    transition: all 0.3s ease;
}

.footer-brand:hover h1 {
    transform: scale(1.03);
}

.footer-brand h1 span {
    color: red;
    font-weight: 900;
    transition: all 0.3s ease;
}

.footer-brand:hover h1 span {
    color: #ff0000;
    transform: scale(1.1);
}

.site-footer .footer-social-media {
    margin-bottom: 5px;
}

.site-footer .tiktok svg,
.site-footer .facebook svg {
    width: 24px;
    height: 24px;
}

.site-footer .instagram svg {
    width: 22px;
    height: 22px;
}

.site-footer .twitter_X svg {
    width: 20px;
    height: 20px;
}

.site-footer .email .material-symbols-outlined {
    font-size: 28px;
}

.site-footer .phone_call svg {
    width: 26px;
    height: 26px;
}

.site-footer .footer-social-media ul li {
    width: 38px;
    height: 38px;
    margin: 0 5px;
}

.site-footer .footer-social-media ul li:hover {
    background-color: #dbdbdb;
    border-radius: 50%;
}

.site-footer .footer-social-media ul li span {
    font-size: 26px;
    color: #74767E;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.site-footer .footer-navigation {
    display: flex;
    flex-wrap: nowrap;
    /* align-items: center; */
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    gap: 14vw;
    padding: 20px 0;
    /* background-color: lightgoldenrodyellow; */
}

.site-footer .footer-column {
    display: flex;
    flex-direction: column;
    /* text-align: start; */
    font-family: sans-serif;
    /* background-color: darkorange; */
}

.site-footer .footer-column h4 {
    width: 100vw;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: start;
    /* justify-content: start; */
    display: none;
    position: relative;
    /* background-color: darkkhaki; */
    padding: 0 10px;
    /* margin: 0 10px 5px 10px; */
    /* border: 1px solid black; */
}

.site-footer .footer-column h4 span {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 5px;
    position: absolute;
    top: 5px;
    right: 7px;
}

.site-footer .footer-links {
    display: block;
}

.site-footer .footer-column li {
    margin: 5px 0;
}

.site-footer .footer-column a {
    font-size: 14px;
}

.site-footer .footer-column a:hover {
    text-decoration: underline;
}

.site-footer .hr {
    width: 90%;
    height: 1px;
    border-top: 1px solid black;
}

.site-footer .footer-copyright {
    text-align: center;
    font-size: 14px;
    color: #777;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}












@media (max-width: 775px) {
    .site-footer .footer-navigation {
        gap: 10vw;
    }
}

@media (max-width: 600px) {
    .site-footer .footer-navigation {
        /* grid-template-columns: repeat(1, 1fr); */
        /* gap: 20px; */
        /* text-align: center; */
        /* display: flex; */
        /* flex-wrap: nowrap; */
        /* align-items: center; */
        /* justify-content: center; */
    }

    /* .site-footer .footer-column h4 {
        justify-content: center;
        display: block;
    }

    .site-footer .footer-column h4 span {
        cursor: pointer;
    }

    .site-footer .footer-links {
        padding: 0 15px;
        text-align: start;
    }

    .site-footer .footer-links.show {
        display: block;
    } */

    .site-footer .tiktok svg,
    .site-footer .facebook svg {
        width: 20px;
        height: 20px;
    }

    .site-footer .instagram svg {
        width: 18px;
        height: 18px;
    }

    .site-footer .twitter_X svg {
        width: 18px;
        height: 18px;
    }

    .site-footer .email .material-symbols-outlined {
        font-size: 26px;
    }

    .site-footer .phone_call svg {
        width: 24px;
        height: 24px;
    }

    .site-footer .footer-social-media ul li {
        margin: 0 3px;
    }

    .site-footer .footer-column a {
        font-size: 12px;
    }
}