* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-page: #F7F7F7;
    --bg-card: #d4d4d4e6;
    --bg-light-card: #dededee6;
    --bg-navbar: #9C9C9C;

    --text-primary: #1E1E1E;
    --text-secondary: #555555;

    --border: #B0B0B0;

    --accent: #4A90E2;
    --accent-hover: #357ABD;

    --error: #E57373;
    --success: #81C784;
}


body {
    position: relative;
    /* background-color: black; */
}


.product-display-beinspired,
.products-video-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}


li {
    list-style: none;
}

/* .loader */
.chat-loader-container {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* best-selling page */
/* top products */
.home-loader-container {
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-view-loader {
    width: 100%;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-loader-container {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.checkout-loader-wrapper {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: darkblue; */
}

.Shipping-loader-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.cart-review-layout .cart-review-loader{
    height: 300px;
    background-color: palevioletred;
}


.loader {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.loader span {
    width: 14px;
    height: 14px;
    background-color: #000000;
    border-radius: 50%;
    animation: bounce 1.5s infinite ease-in-out;
}

.loader span:nth-child(1) {
    animation-delay: 0s;
}

.loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader span:nth-child(3) {
    animation-delay: 0.4s;
}

/* chat.jsx adminchat  */
.back-arrow {
    margin: 0 12px 0 0;
}

.back-arrow span {
    font-size: 24px;
    padding: 4px 12px;
    margin-top: 4px;
    background-color: lightgrey;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

@media (max-width: 600px) {
    .back-arrow span {
        display: block;
    }

}

/* Keyframes for bouncing effect */
@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
        opacity: 0.3;
        background-color: #272727;
    }

    40% {
        transform: scale(1);
        opacity: 1;
        background-color: #000000;
    }
}

.Home-Webverse {
    position: relative;
}

.ChatAppIcon {
    position: fixed;
    top: 95%;
    right: 2%;
    transform: translate(-50%, -50%);
    /* opacity: 9; */
    z-index: 10;
}

.ChatAppIcon img {
    width: 55px;
    /* background-color: blue; */
}